@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

@layer base {

  html {
    font-family: "Fira Sans", sans-serif;
    line-height: 1.6;
  }
  body {
    font-size: 1rem;
    color: #000;
    background-color: #fff;
  }
 
  h1 {
    font-family: "Dancing Script", cursive;
  }

  h2 
  h3, 
  h4 {
    font-family: "Outfit", sans-serif;
    color: hsl(0, 0%, 100%);
  }
  h1 {
    font-size: 2rem;
  }

  a {
    color: #000;
  }
  
  a:hover,
  a:focus-visible {
    color: hsl(25, 88%, 75%);
  }

  img {
    border-radius: 0.75rem;
  }
  
}

@layer layout {
  .flow > * + * {
    margin-top: var(--flow-spacer, 1em);
  }

  .grid-flow {
    display: grid;
    gap: var(--grid-flow-gap, 1rem);
  }

  .equal-columns {
    display: grid;
    gap: var(--equal-columns-gap, 1rem);
    align-items: var(--equal-columns-vertical-alignment, stretch);

    @media (width > 760px ) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }

    &[data-gap="large"] {
      --equal-columns-gap: 2rem;
    }

    &[data-alignment="centered"] {
      --equal-columns-vertical-alignment: center;
    }
  }

  .wrapper {
      --wrapper-max-width: 1130px;
  
      max-width: var(--wrapper-max-width);
      margin-inline: auto;
      padding-inline: 1rem;
      box-sizing: content-box;
    }
  .wrapper[data-width="narrow"] {
      --wrapper-max-width: 720px;
    }
  
  .wrapper[data-width="wide"] {
      --wrapper-max-width: 1330px;
    }

  .section {
      --padding: 3.75rem;
      padding-block: var(--padding);

      @media (width > 760px) {
        --padding: 8rem;

        &[data-padding="compact"] {
          --padding: 4.5rem;
        }
      }
    }

}
 
@layer components {
  .skip-to-main:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .site-header {
    padding-block: 1rem;
  }
  .site-header__inner {
    display: flex;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .site-header__inner a {
    text-decoration: none;
  }

  [aria-controls="primary-nav"] {
    z-index: 100;
    cursor: pointer;
    background: transparent;
    border: 0;

    img {
      border-radius: 0;
    }

  }

  [aria-controls="primary-nav"] {
    display: none;
  }

  .primary-navigation {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }

    a {
      text-decoration: none;
    }

    @media (width < 760px) {
      display: none;
      position: absolute;
      z-index:10;
      top: 0;
      right: 0;
      font-size: 1.25rem;
      font-weight: 700;
      font-family: "Outfit", sans-serif;
      background-color: hsl(143, 38%, 37%);
      padding: 2rem;
      border-radius: 0 0 0 0.75rem;

      ul {
        gap: 0;
        flex-direction: column;
      }

      li + li{
        margin-block-start: 1.5rem;
        padding-block-start: 1.5rem;
        border-top: 2px solid hsl(143, 19%, 49%);
      }
    }
  }


  @media (width < 760px) {
    [aria-controls="primary-nav"] {
      display: block;
    }

    [aria-expanded="true"] + .primary-navigation {
      display: block;
      padding: 50px;
    }
  }

  .site-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: hsl(0, 6%, 15%);
    padding-block: 2rem;
    gap: 2rem;

    a {
      color: hsl(0, 2%, 79%);
    }

    a:hover,
    a:focus-visible {
      color: hsl(25, 88%, 75%);
    }
  }

  .inner {
    background-color: hwb(145 13% 75%);
  }

  .site-footer__title{
  font-size: 1.25rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: #fff;
}


  .card {
    display:grid;
    gap: 1rem;
    padding: 1rem;
    background-color: hwb(145 13% 75%);
    border-radius: 0.75rem;
    color: #fff;
    transition: background-color 1s ease-out, transform 1s ease-out;

    img {
      border-radius: 0.5rem;
    }


  }
  .card__title {
    font-size: 1.5rem;
    color: hsl(25, 88%, 66%);
  }

  .card:hover {
    background-color: rgb(66, 119, 66);
    transform: scale(1.1);
  }

  .inside-card {
    display:grid;
    gap: 1rem;
    padding: 1rem;
    background-color: hwb(145 13% 75%);
    border-radius: 0.75rem;
    color: #fff;
    transition: background-color 1s ease-out, transform 1s ease-out;

    img {
      border-radius: 0.5rem;
    }


  }
  .inside-card__title {
    font-size: 1.5rem;
    color: hsl(25, 88%, 66%);
  }

  .button {
    text-decoration: none;
    font-size: 1.125rem;
    cursor: pointer;
    display: inline-flex;
    padding: .5rem 1rem;
    background-color: hsl(0, 6%, 15%);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    border-radius: 0.5rem;
  }

  .button:hover,
  .button:focus-visible {
    color: hsl(0, 0%, 100%);
    background-color: hsl(143, 19%, 49%);
  }
}

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .message-style {
    font-size: 20px;
    background-color: green;
    color: #fff;
    padding: 10px 0;
  }

  #errors {
    color: red;
  }

  #success-subscription {
    font-size: 25px;
    color: hsl(25, 88%, 66%);
  }

@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .text-center {
    text-align: center;
  }
  .text-brand {
    color: var(--text-brand);
  }
  .text-high-contrast {
    color: hsl(0, 0%, 100%);
  }

  .section-title {
    font-size: 2rem;

    @media (width > 760px) {
        font-size: 3rem;
    }
  }

  .text-brand {
    color: hsl(25, 88%, 66%);
  }
  
  .background-light {
    background-color: hsl(0, 0%, 100%);
  }

  .background-dark {
    background-color: hsl(145, 29%, 19%);
  }

  .background-dark .section-title,
  .background-dark a,
  .background-light .button {
    color: hsl(25, 88%, 66%);
  }

  .background-dark p {
    color: #fff;
  }

  .background-accent {
    background-color: hwb(145 13% 75%);
  }

  .font-size-sm {
    font-size: 0.875rem;
  }
  .font-size-regular {
    font-size: 1rem;
  }
  .font-size-md {
    font-size: 1.125rem;
  }
  .font-size-lg {
    font-size: 1.5rem;
  }
}

  .inner-list {
  font-size: 2rem;
  }

  .prep-details {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-block-start: 32px;
  }

  .prep-items {
    display: flex;
    justify-content: center;
    padding-block-end: 12px;
  }

  .prep-details li {
    list-style-type: none;
  }

  .prep-timer,
  .prep-difficulty,
  .prep-serves {
    margin-left: 2px;
  }

  .prep-timer-icon {
    background-image: url(assets/clock.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 20px;
    margin: 0px;
  }

  .prep-difficulty-icon {
    background-image: url(assets/difficulty.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 20px;
    margin: 0px;
  }

  .prep-serves-icon {
    background-image: url(assets/user.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 20px;
    margin: 0px;
  }

/* Carousel */
  .carousel {
  position:relative
  }

  .carousel.pointer-event {
    touch-action:pan-y
  }

  .carousel-inner{position:relative;width:100%;overflow:hidden}

  .carousel-inner::after{display:block;clear:both;content:""}

  .carousel-item{position:relative;display:none;float:left;width:100%;margin-right:-100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:transform .6s ease-in-out}

  @media (prefers-reduced-motion:reduce){
    .carousel-item{transition:none}
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display:block
  }

  .active.carousel-item-end,
  .carousel-item-next:not(.carousel-item-start){
    transform:translateX(100%)
  }

  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end){
    transform:translateX(-100%)
  }

  .carousel-fade .carousel-item {
    opacity:0;
    transition-property: opacity;
    text-transform: none;
  }
  
  .carousel-fade .carousel-item-next.carousel-item-start,
  .carousel-fade .carousel-item-prev.carousel-item-end,
  .carousel-fade .carousel-item.active {
    z-index: 1;
    opacity: 1
  }

  .carousel-fade .active.carousel-item-end,
  .carousel-fade .active.carousel-item-start {
    z-index: 0;
    opacity:0;
    transition:opacity 0s .6s
  }
  @media (prefers-reduced-motion:reduce) {
    .carousel-fade .active.carousel-item-end,
    .carousel-fade .active.carousel-item-start {
      transition:none
    }
  }
  
  .carousel-control-next,
  .carousel-control-prev {
    position:absolute;
    top:0;
    bottom:0;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content:center;
    width:15%;
    padding:0;
    color:#fff;
    text-align:center;
    background:0 0;
    filter:var(--bs-carousel-control-icon-filter);
    border:0;
    opacity:.5;
    transition:opacity .15s ease;
  }
    
  @media (prefers-reduced-motion:reduce) {
    .carousel-control-next,
    .carousel-control-prev{
      transition:none
    }
  }
  .carousel-control-next:focus,
  .carousel-control-next:hover,
  .carousel-control-prev:focus,
  .carousel-control-prev:hover {
    color:#fff;
    text-decoration:none;
    outline:0;
    opacity:.9
    }
    
  .carousel-control-prev {
    left:0
  }
  
  .carousel-control-next {
    right: 0
  }
  
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display:inline-block;
    width:2rem;
    height:2rem;
    background-repeat:no-repeat;
    background-position:50%;
    background-size:100% 100%
  }
  
  .carousel-control-prev-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/%3e%3c/svg%3e");
  }
  
  .carousel-control-next-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e");
  }
  
  .carousel-indicators {
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    z-index:2;
    display:flex;
    justify-content:center;
    padding:0;
    margin-right:15%;
    margin-bottom:1rem;
    margin-left:15%
  }
  
  .carousel-indicators [data-bs-target]{
    box-sizing:content-box;
    flex:0 1 auto;
    width:30px;
    height:3px;
    padding:0;
    margin-right:3px;
    margin-left:3px;
    text-indent:-999px;
    cursor:pointer;
    background-color:var(--bs-carousel-indicator-active-bg);
    background-clip:padding-box;
    border:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    opacity:.5;
    transition:opacity .6s ease
  }
  
  @media (prefers-reduced-motion:reduce) {
    .carousel-indicators [data-bs-target]{
      transition:none}
  }
  
  .carousel-indicators .active {
    opacity:1
  }
  
  .carousel-caption {
    position:absolute;
    right:15%;
    bottom:1.25rem;
    left:15%;
    padding-top:1.25rem;
    padding-bottom:1.25rem;
    color:var(--bs-carousel-caption-color);
    text-align:center
  }
  
  .carousel-dark{
    --bs-carousel-indicator-active-bg:#000;
    --bs-carousel-caption-color:#000;
    --bs-carousel-control-icon-filter:invert(1) grayscale(100)}:root,[data-bs-theme=light]{
      --bs-carousel-indicator-active-bg:#fff;--bs-carousel-caption-color:#fff;--bs-carousel-control-icon-filter: }[data-bs-theme=dark]{
        --bs-carousel-indicator-active-bg:#000;
        --bs-carousel-caption-color:#000;--bs-carousel-control-icon-filter:invert(1) grayscale(100);
  }